{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-recommended-scss",
        "stylelint-config-prettier"
    ],
    "rules": {
        "indentation": 4,
        "no-descending-specificity": null
    }
}
